# Reinforcement Learning

The types of classification models we will look at here are the following

<ul>
    <li>Apriori</li>
    <li>Eclat</li>
</ul>

The required dataset can be found at <b>datasets/reinforcement_learning.csv</b>

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline 
plt.rcParams['figure.figsize'] = (6,6)

dataset = pd.read_csv('datasets/reinforcement_learning.csv', header=None)
dataset.head(10)

      0     1     2     3     4     5     6     7     8      9
0  Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
1     1     0     0     0     1     0     0     0     1      0
2     0     0     0     0     0     0     0     0     1      0
3     0     0     0     0     0     0     0     0     0      0
4     0     1     0     0     0     0     0     1     0      0
5     0     0     0     0     0     0     0     0     0      0
6     1     1     0     0     0     0     0     0     0      0
7     0     0     0     1     0     0     0     0     0      0
8     1     1     0     0     1     0     0     0     0      0
9     0     0     0     0     0     0     0     0     0      0

In [5]:
number_of_selections = [0] * len(dataset.columns)
cumm_rewards = [0] * len(dataset.columns)

In [6]:
for i in range(len(dataset)):
    
    for j in range(len(dataset.columns)):

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]